/* Inicio de la sección de estilos generales */
body {
    background: linear-gradient(#ffffffdd, rgb(193, 189, 189)); 
}
/* Fin de la sección de estilos generales */


/* Inicio de estilos de la card: Estilos generales para las tarjetas */
.card {
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
/* Fin de la clase .card */


/* Inicio de la barra de navegación */
.navbar {
    margin-bottom: 20px; 
}
/* Fin de la barra de navegación */



/* Inicio de los estilos para canvas */
canvas {
    height: 100%; 
    width: 100%; 
}
/* Fin de los estilos para canvas */


/* Inicio  Estilos para imágenes fluidas */
.img-fluid {
    border-radius: 10px; 
}
/* Fin de la clase .img-fluid */