/* Inicio de los estilos generales para el cuerpo */
body {
    height: 100vh;
    background: linear-gradient(#433F3F, black);
}
/* Fin de los estilos generales para el cuerpo */



/* Inicio de los estilos para los campos de formulario */
.form-control {
    width: 420px;
    height: 48px;
    background-color: #E6E4E4;
    border-radius: 4px;
    margin-left: auto;
    margin-top: 40px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Inicio de los estilos para el grupo de opciones del formulario */
.form-check {
    margin-left: 103px;
    margin-top: 45px;
}
/* Fin de los estilos para el grupo de opciones del formulario */



/* Inicio de los estilos para el texto centrado */
.center-text {
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
    text-shadow: 3px 5px 7px grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Fin de los estilos para el texto centrado */
