/* Inicio de los estilos generales para el cuerpo */
body {
    height: 100vh;
    background: linear-gradient(#433F3F, black);
}
/* Fin de los estilos generales para el cuerpo */



/* Inicio de los estilos para los campos de formulario */
.form-control {
    width: 420px;
    height: 48px;
    background-color: #E6E4E4;
    border-radius: 4px;
    margin-left: auto;
    margin-top: 40px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Inicio de los estilos para el grupo de opciones del formulario */
.form-check {
    margin-left: 103px;
    margin-top: 45px;
}
/* Fin de los estilos para el grupo de opciones del formulario */



/* Inicio de los estilos para el texto centrado */
.center-text {
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
    text-shadow: 3px 5px 7px grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Fin de los estilos para el texto centrado */



/* Inicio de los estilos para los enlaces sin subrayado */
.text-decoration-none {
    color: grey;
    margin-right: 91px;
    margin-top: 45px;
}
/* Fin de los estilos para los enlaces sin subrayado */



/* Inicio de los estilos para el botón de éxito */
.btn-success {
    background-color: black;
    border-color: black;
    width: 230px;
    height: 50px;
    font-size: 20px;
    border-radius: 45px;
    margin-left: 188px;
    margin-top: 10px;
}

/* Inicio de los efectos hover para el botón de éxito */
.btn-success:hover {
    background-color: black;
    border-color: black;
}
/* Fin de los estilos para el botón de éxito */



/* Inicio de los estilos para las imágenes con clase 'foto' */
.foto {
    border-radius: 50px;
}
/* Fin de los estilos para las imágenes con clase 'foto' */



/* Inicio de los estilos para las imágenes con clase 'shadow' */
.shadow {
    border-radius: 70px;
}
/* Fin de los estilos para las imágenes con clase 'shadow' */
