/* Inicio de los estilos generales para el fondo */
body {
    background: linear-gradient(#ffffffdd, rgb(193, 189, 189));
}
/* Fin de los estilos generales para el fondo */



/* Inicio de los estilos para el texto oscuro personalizado */
.text-dark1 {
    font-size: 15px;
    color: black;
}
/* Fin de los estilos para el texto oscuro personalizado */



/* Inicio de los estilos para el texto de la sección "Acerca de" */
.about-text {
    color: gray;
}
/* Fin de los estilos para el texto de la sección "Acerca de" */



/* Inicio de los estilos para el texto oscuro general */
.text-dark {
    margin-top: 5px;
    font-size: 13px;
    color: black;
}
/* Fin de los estilos para el texto oscuro general */



/* Inicio de los estilos para el botón primario (editar perfil)*/
.btn-primary {
    border-color: black;
    background-color: black;
    color: white;
}

/* Inicio de los efectos hover para el botón primario */
.btn-primary:hover {
    border-color: rgb(147, 146, 146);
    background-color: rgb(147, 146, 146);
    color: rgb(0, 0, 0);
}
/* Fin de los estilos para el botón primario (editar perfil)*/



/* Inicio de los estilos para el encabezado de la tarjeta */
.card-header1 {
    background-color: #000000;
    padding: 70px;
    border-radius: 4px;
}
/* Fin de los estilos para el encabezado de la tarjeta */



/* Inicio de los estilos para el botón secundario (cancelar)*/
.btn-secondary {
    background-color: #b5b5b5;
    border-color: #b5b5b5;
    color: rgb(0, 0, 0);
}

/* Inicio de los efectos hover para el botón secundario (cancelar) */
.btn-secondary:hover {
    background-color: #78020e;
    border-color: #78020e;
    color: white;
}
/* Fin de los estilos para el botón secundario (cancelar)*/



/* Inicio de los estilos para el botón primario alternativo (guardar cambios)*/
.btn-primary1 {
    background-color: #000000;
    border-color: #000000;
    color: rgb(255, 255, 255);
}

/* Inicio de los efectos hover para el botón primario alternativo (guardar cambios) */
.btn-primary1:hover {
    background-color: #063666;
    border-color: #063666;
    color: white;
}
/* Fin de los estilos para el botón primario alternativo (guardar cambios)*/



/* Inicio de los estilos para el modal */
.modal-title {
    color: #ffffff;
}

/* Inicio de los estilos para el encabezado del modal */
.modal-header {
    background: linear-gradient(#000000dd, rgb(0, 0, 0));
    border-radius: 4px;
}
/* Fin de los estilos para el modal */



/* Inicio de los estilos para las imágenes */
img {
    margin-top: -98px;
    cursor: pointer;
}
/* Fin de los estilos para las imágenes */



/* Inicio de los estilos para el botón de cerrar (versión 7) */
.btn-close7 {
    background-color: #ffffff;
}
/* Fin de los estilos para el botón de cerrar (versión 7) */



/* Inicio de los estilos para el botón idioma */
.btn-secondary1{
    color: rgb(175, 169, 169);
}

/* Inicio de los efectos hover para el botón idioma*/
.btn-secondary1:hover{
    color: rgb(216, 214, 214);
}
/* Fin de los estilos para el botón idioma */
