/* Inicio de los estilos generales para el fondo */
body {
    background: linear-gradient(#ffffffdd, rgb(193, 189, 189));
}
/* Fin de los estilos generales para el fondo */



/* Inicio de los estilos para el texto oscuro personalizado */
.text-dark1 {
    font-size: 15px;
    color: black;
}
/* Fin de los estilos para el texto oscuro personalizado */



/* Inicio de los estilos para el texto de la sección "Acerca de" */
.about-text {
    color: gray;
}
/* Fin de los estilos para el texto de la sección "Acerca de" */
