/* Inicio de los estilos generales para el fondo */
body {
    background: linear-gradient(#ffffffdd, rgb(193, 189, 189));
}
/* Fin de los estilos generales para el fondo */



/* Inicio de los estilos para el contenedor principal */
.container {
    margin-top: 50px;
}

/* Inicio de los estilos para las filas del contenedor */
.container .row {
    margin-top: 100px;
}
/* Fin de los estilos para el contenedor principal */



/* Inicio de los estilos para las cards */
.card {
    border-radius: 10px;
}
/* Fin de los estilos para las cards */



/* Inicio de los estilos personalizados para los botones */
.btn-custom {
    background-color: #000000;
    border-color: #000000;
    color: #fff;
    outline: none;
}

/* Inicio de los efectos hover para los botones personalizados */
.btn-custom:hover {
    background-color: #b5b5b5;
    border-color: #b5b5b5;
    color: rgb(0, 0, 0);
    outline: none;
}
/* Fin de los estilos personalizados para los botones */



/* Inicio de los estilos para el botón primario 1 (Descargar PDF)*/
.btn-primary1 {
    background-color: #000000;
    border-color: #000000;
    color: white;
}

/* Inicio de los efectos hover para el botón primario 1 (Descargar PDF) */
.btn-primary1:hover {
    background-color: #78020e;
    border-color: #78020e;
    color: white;
}
/* Fin de los estilos para el botón primario 1 (Descargar PDF) */



/* Inicio de los estilos para el botón primario (Descargar Word)*/
.btn-primary {
    background-color: #000000;
    border-color: #000000;
    color: white;
}

/* Inicio de los efectos hover para el botón primario (Descargar Word) */
.btn-primary:hover {
    background-color: #14025d;
    border-color: #14025d;
    color: white;
}
/* Fin de los estilos para el botón primario (Descargar Word)*/



/* Inicio de los estilos para el botón secundario (cancelar) */
.btn-secondary {
    background-color: #b5b5b5;
    border-color: #b5b5b5;
    color: rgb(0, 0, 0);
}

/* Inicio de los efectos hover para el botón secundario (cancelar) */
.btn-secondary:hover {
    background-color: #4b4b4b;
    border-color: #4b4b4b;
    color: white;
}
/* Fin de los estilos para el botón secundario (cancelar) */
