/* Inicio de los estilos generales para el fondo */
body {
    background: linear-gradient(#ffffffdd, rgb(193, 189, 189));
}
/* Fin de los estilos generales para el fondo */



/* Inicio de los estilos para el contenedor principal */
.container {
    margin-top: 50px;
}

/* Inicio de los estilos para las filas del contenedor */
.container .row {
    margin-top: 100px;
}
/* Fin de los estilos para el contenedor principal */



/* Inicio de los estilos para las cards */
.card {
    border-radius: 10px;
}
/* Fin de los estilos para las cards */



/* Inicio de los estilos personalizados para los botones */
.btn-custom {
    background-color: #000000;
    border-color: #000000;
    color: #fff;
    outline: none;
}

/* Inicio de los efectos hover para los botones personalizados */
.btn-custom:hover {
    background-color: #b5b5b5;
    border-color: #b5b5b5;
    color: rgb(0, 0, 0);
    outline: none;
}
/* Fin de los estilos personalizados para los botones */
