/* Inicio de la sección Carrusel: Estilos principales de la sección hero */
.hero-section {
    background-color: #f8f9fa; 
    margin-top: 0; 
    text-align: center; 
}

/* Estilos para las imágenes dentro del carrusel */
.carousel-inner img {
    height: 600px; 
    object-fit: cover; 
}

/*Estilos del título en la sección hero */
.hero-section h1 {
    font-size: 48px;
    font-weight: bold; 
}

/* Estilos del párrafo en la sección hero */
.hero-section p {
    font-size: 18px; 
    margin-top: 20px; 
}
/* Fin de la sección Hero */



/* Inicio de la sección Categorías: Estilos principales de la sección de categorías */
.category-section {
    padding: 50px 0; 
}

/* Estilos del título en la sección de categorías */
.category-section h2 {
    text-align: center; 
    margin-bottom: 40px; 
    font-size: 36px; 
}

/* Estilos de las tarjetas dentro de la sección de categorías */
.category-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s; 
}

/* Efectos hover para las tarjetas de categoría */
.category-card:hover {
    transform: translateY(-5px); 
}
/* Fin de la sección Categorías */



/* Inicio de la barra de navegación: Estilos para la barra de navegación */
.navbar {
    position: sticky; /* La mantiene fija al bajar la  página */
    top: 0; /* Siempre en la parte superior de la página */
    z-index: 1000; 
}

/* Estilos para la barra de búsqueda dentro de la navegación */
.search-bar {
    width: 300px; 
}
/* Fin de la barra de navegación */




/* Inicio del menú lateral Offcanvas: Estilos para el menú lateral */
.offcanvas-menu {
    width: 250px; 
    opacity: 1.2; 
    border: 100px;
    color: white;
    border-radius: 11px; 
    background: linear-gradient(#433F3F, rgb(0, 0, 0)); 
}

/* Estilos para los enlaces dentro del menú */
.offcanvas-menu a {
    color: white; 
    text-decoration: none; 
    font-size: 18px; 
}


/* Efecto hover en los enlaces del menú lateral */
.offcanvas-menu a:hover {
    color: #f8f9fa; 
    text-decoration: none; 
}

/* Estilos para los iconos dentro del menú */
.offcanvas-menu i {
    font-size: 24px; 
    margin-right: 10px; 
}

/* Estilos para elementos extra en el menú de navegación */
.nav-itemlo {
    margin-top: 300px; 
}
/* Fin del menú lateral Offcanvas */



/* Inicio del Hover en los elementos de navegación: Efecto hover para los elementos de navegación */
.nav-item:hover {
    background-color: #C2BFBF; 
    border-radius: 10px; 
    padding: 10px; 
}

/* Efecto hover para los elementos adicionales en la navegación */
.nav-itemlo:hover {
    background-color: #C2BFBF; 
    border-radius: 10px; 
    padding: 10px; 
}
/* Fin del Hover en los elementos de navegación */




/* Inicio de la paginación: Estilos para los enlaces de paginación */
.page-link {
    display: block; 
    padding: 8px 16px; 
    color: #000000; 
    background-color: #ffffff;
    border: 1px solid #ffffff; 
    border-radius: 10px; 
    text-decoration: none; 
}

/* Efectos hover en los enlaces de paginación */
.page-link:hover {
    color: #000000; 
    background-color: #f1f1f1; 
    border-color: #ffffff; 
}

/* Estilos para el enlace activo en la paginación */
.page-item.active .page-link {
    color: #fff; /* Texto blanco */
    background-color: #000000; 
    border-color: #000000;
    border-radius: 10px; 
}

/* Estilos para los botones de tipo secundario */
.btn-secondary {
    border-color: rgba(0, 0, 0, 0); 
    color: gray;
}

/* Efectos hover para los botones secundarios */
.btn-secondary:hover {
    border-color: rgba(0, 0, 0, 0); 
    color: #C2BFBF; 
}
/* Fin de la paginación */




/* Inicio footer: Estilos para footer */
footer {
    background-color: #141B2D; 
    color: #ffffff;
    padding: 20px 0;
    text-align: center; 
    margin-top: 100px; 
}
/* Fin footer */
