/* Inicio de la sección Carrusel: Estilos principales de la sección hero */
.hero-section {
    background-color: #f8f9fa; 
    margin-top: 0; 
    text-align: center; 
}

/* Estilos para las imágenes dentro del carrusel */
.carousel-inner img {
    height: 600px; 
    object-fit: cover; 
}

/*Estilos del título en la sección hero */
.hero-section h1 {
    font-size: 48px;
    font-weight: bold; 
}

/* Estilos del párrafo en la sección hero */
.hero-section p {
    font-size: 18px; 
    margin-top: 20px; 
}
/* Fin de la sección Hero */




/* Inicio de la sección Categorías: Estilos principales de la sección de categorías */
.category-section {
    padding: 50px 0; 
}

/* Estilos del título en la sección de categorías */
.category-section h2 {
    text-align: center; 
    margin-bottom: 40px; 
    font-size: 36px; 
}

/* Estilos de las tarjetas dentro de la sección de categorías */
.category-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s; 
}

/* Efectos hover para las tarjetas de categoría */
.category-card:hover {
    transform: translateY(-5px); 
}
/* Fin de la sección Categorías */



/* Inicio de la barra de navegación: Estilos para la barra de navegación */
.navbar {
    position: sticky; /* La mantiene fija al bajar la  página */
    top: 0; /* Siempre en la parte superior de la página */
    z-index: 1000; 
}

/* Estilos para la barra de búsqueda dentro de la navegación */
.search-bar {
    width: 300px; 
}
/* Fin de la barra de navegación */
