/* Inicio de los estilos generales para el body */
body{ 
    background: linear-gradient(#ffffffdd, rgb(193, 189, 189));
}
/* Fin de los estilos generales para el body */



/* Inicio de estilos de la tabla:Encabezado de la tabla */
.table-header-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px; 
}

/* Inicio de los estilos para el título del encabezado de la tabla */
.table-header-container h3 {
    margin: 0; 
    font-size: 1.5rem; 
}
/* Fin de los estilos para el título del encabezado de la tabla */



/* Inicio de los estilos para el botón de agregar usuario */
.btn-add-user {
    background-color: #000000; 
    color: white; 
    border: none; 
}

/* Efectos hover para el botón de agregar usuario */
.btn-add-user:hover {
    background-color: #bebebe; 
    color: rgb(0, 0, 0); 
}
/* Fin de los estilos para el botón de agregar usuario */



/* Inicio de los estilos para el modal */
.modal-header {
    border-bottom: none; 
}

/* Inicio de los estilos para el pie del modal */
.modal-footer {
    border-top: none; 
}

/* Estilos para centrar el diálogo del modal */
.modal-dialog-centered {
    display: flex;
    align-items: center; 
    min-height: calc(100% - 1.75rem); 
}
/* Fin de los estilos para el modal */